.product-grid{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 40em){
    .product-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap: 100px;
        grid-column-gap: 50px;
        
    }
}

@media screen and (min-width: 62em){
    .product-grid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        row-gap: 100px;
        grid-column-gap: 50px;
    }
}


.container{
    margin: 50px;
}

