

div{
    width: 100%;
    padding: 20px;
}

table {
    width: 98%;

    
}


.imagen-product{
    width: 100px;
    height: 100px;
}

.contanier-nada{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    height: 50%;
}

.contanier-nada h1{
    text-align: center;
}

.contanier-nada div {
    width: 500px;
    text-align: center;

}

.contanier-nada img{
    width: 500px;
}